<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Formulaire d'intervention ou de service apres-vente Only-Wood : <%=("Service Apres Vente "+@service_apres_vente.id.to_s) unless @service_apres_vente.nil?  %> <%=("Projet"+@project.project_ref_string) unless @project.nil?  %></title>
</head>
<body>
<p><u>Madame,Monsieur.</u></p>
<br />
<p> Pour beneficier du service apres-vente Only-Wood veuillez-renvoyer ce formulaire dûment completé .

<p>
 Only-wood reste bien entendu à votre disposition du lundi au vendredi de 9h00 à 12h30 et de 13h30 à 18h00 à ses bureaux ou par téléphone au 02/426.66.18

</p>
<p>
  Bien à vous.
</p>
<br />
<p>
  L'équipe Only-Wood.
</p>
</body>
</html>